.wrapper
  = render "shared/side_bar"
  .chat-main
    .main-header
      .main-header__left-box
        %h2.main-header__left-box__current-group{data: {group_id: "1944" }} グループ名
        %ul.main-header__left-box__member-list 
          Member：
          %li.main-header__left-box__member-list__member test
      =link_to "/", class: "edit_btn" do
        .main-header__edit-btn Edit
    .messages
      = render "message"
      = render "message"
  .kari
    .form
      %form#new_message.new_message.AVAST_PAM_nonloginform{accept: {charset: "UTF-8" }, action: "/", enctype: "multipart/form-data", method: "get"}
        %input{name: "utf8", type: "hidden", value: "✓"}/
        %input{name: "authenticity_token", type: "hidden", value: ""}/
        .input-box
          %input#message_content.input-box__text{name: "message[content]", placeholder: "type a message", type: "text"}/
          %label.input-box__image{for: "message_image"}
            %i.fa.fa-image
            %input#message_image.input-box__image__file{name: "message[image]", type: "file"}/
        %input.submit-btn{data: {disable: {with: "Send" }}, name: "commit", type: "submit", value: "Send"}/
