.main-header{
  color: $blk;
  box-sizing: border-box;
  margin: 0;
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #eee;
  overflow: scroll;
    &__edit-btn{
      color: $color-notice;
      box-sizing: border-box;
      margin: 0;
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
      margin-top: 28px;
      border: solid 1px $color-notice;
      position: absolute;
      right: 40px;
    }
    &__left-box{
      margin-top: 35px;

      &__current-group{
        box-sizing: border-box;
        @include m0p0;
        font-weight: normal;
        font-size: 20px;
        color: #333;
        margin-bottom: 15px;
      }

      &__member-list{
        box-sizing: border-box;
        @include m0p0;
        list-style: none;
        display: flex;
        font-size: 12px;
        color: $color-menber;
        &__member{
          list-style: none;
          font-size: 12px;
          color: $color-menber;
          box-sizing: border-box;
          @include m0p0;
        }
      }
    }
}