@import "./reset";
@import "font-awesome";
@import "variable";
@mixin m0p0 {
  margin: 0;
  padding: 0;
}
a{
  color: $color-sidefont;
    cursor:pointer;
    text-decoration: none;
    position: relative;
}
@import "notice";
@import "header";
@import "group";
@import "messages";
@import "form-btn"