@import "./reset";
@import "font-awesome";
@import "variable";

@mixin m0p0 {
  margin: 0;
  padding: 0;
}

a{
  color: $color-sidefont;
    cursor:pointer;
    text-decoration: none;
    position: relative;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

@import "modules/user";
@import "config/colors";
@import "modules/flash";
@import "modules/group";
@import "header";
@import "side";
@import "group";
@import "messages";
@import "form-btn";